setGPIO.txt
[
    {
        "id": "4f19c595.cbb6bc",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f50c5449.cae848",
        "type": "http in",
        "z": "4f19c595.cbb6bc",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "d50349a.035ffb8",
                "57a71bb.ca946e4"
            ]
        ]
    },
    {
        "id": "81c4bb3a.055468",
        "type": "http response",
        "z": "4f19c595.cbb6bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 360,
        "wires": []
    },
    {
        "id": "64b0d74c.736748",
        "type": "debug",
        "z": "4f19c595.cbb6bc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "57a71bb.ca946e4",
        "type": "function",
        "z": "4f19c595.cbb6bc",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "81c4bb3a.055468",
                "64b0d74c.736748"
            ]
        ]
    },
    {
        "id": "d50349a.035ffb8",
        "type": "function",
        "z": "4f19c595.cbb6bc",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "81fb4576.5a6768"
            ]
        ]
    },
    {
        "id": "81fb4576.5a6768",
        "type": "rpi-gpio out",
        "z": "4f19c595.cbb6bc",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "93dc176f.2dfb28",
        "type": "http in",
        "z": "4f19c595.cbb6bc",
        "name": "Clear GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "8af42f60.38722",
                "aec31fc7.a538e"
            ]
        ]
    },
    {
        "id": "8af42f60.38722",
        "type": "function",
        "z": "4f19c595.cbb6bc",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 440,
        "wires": [
            [
                "81fb4576.5a6768"
            ]
        ]
    },
    {
        "id": "aec31fc7.a538e",
        "type": "function",
        "z": "4f19c595.cbb6bc",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to LOW\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "81c4bb3a.055468",
                "64b0d74c.736748"
            ]
        ]
    }
]